
page-profile1 {
  // .hr {
  //   border-bottom: 1px solid #ccc;
  //   margin: 10px 0;
  //   width: 100%;
  // }
  ion-card {
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 11px !important;
  }
  .profile-bck {
    height: 200px;
  }
  .setting-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
  }
  ion-item  div {
    border: none !important;
  }

  .mt10 {
    margin: 0 4px;
  }

  .staffu{
    box-shadow: 0 5px 4px 0 #a3a3a3;
    background-color: #f3f3f3;
    color: #000000;
  }

  .fas {
    font-size: 23px;
    margin: 0 4px;
 }
  .setting-iob-icon {
      position: relative;
      margin:2px; 
  }

  .bar-button-menutoggle {
    display: unset !important;
  }


.prof_box{
  -webkit-box-shadow: 0px 5px 4px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px 5px 4px 0px rgba(163,163,163,1);
  box-shadow: 0px 5px 4px 0px rgba(163,163,163,1);
}

.fish_beta{
  position: absolute;
  top:0;
}
         
.pro_thum{
  width: 40%;
  margin: 0 auto;
}
.posi_rele{
  position: relative;
}
.pro_trans{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;

}
.white_color{
  color: #fff;
}
.ml5{
  margin-left: 5px;
}
.text_center{
  text-align: center;
}
.margin_auto{
  margin: 0 auto;
  display: table;
}

.clear{
  clear: both;
}

.toolbar-background {
  background-color: #EEEEEE !important;
}

.prof_fuko{
  font-size: 30px;
  margin: 0 auto;
  display: table;
  height: 35px;
}
.staffu{
  box-shadow: 0 5px 4px 0 #a3a3a3;
  background-color: #f3f3f3;
  color: #000000;
}

.flow{
  margin-top: 45% !important;
}
.flow_avater{
  margin-top: 35% !important;
}
.flow_font{
  font-size: 10px;
}

.bg_mass{
  background-color: #f3f3f3;
}
.text-bold{
  font-weight: bold;
}


.pro_abso{
  position: absolute;
  bottom: 0;
}











}
