page-select-busin-categ {
    .bg
    {
      background: url('../assets/imgs/landing.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sbc
    {
        color: #fff;
        font-size: 18px;
    }

}
