page-login {
  .white {
      color: #f4f4f4;
      font-size: 22px;
  }
  .google {
    background-color: #FFFFFF;
    color: #000000;
  }
  .gplus {
    color: red;
  }
  .logtext
  {
  margin-left:5%;
  margin-right:5%;
  }
    .bg
  {
    background: url('../assets/imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
.logtext
{
text-align:center;
color:#fff;
font-weight: 400;
}
.item-ios
{
  background-color: transparent !important;
  color: #fff !important;
  padding-left: 0px !important;
}
.item-md
{
  background-color: transparent !important;
  color: #fff !important;
  padding-left: 0px !important;
}
.logbtn
{
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #2967A7 !important;
}
.forget
{
  text-align: center;
  margin: 0px auto;
  display: block;
}
}
