page-join-local-fish-communi {
  .bg
  {
    background: url('../assets/imgs/step2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tbar > div{
    background-color: transparent !important;
    border: none !important;
  }

}
