page-landing {
  
  .fb {
      background-color: #4369B5;
  }
  .google {
    background-color: #FFFFFF;
    color: #000000;
    margin-top:3%;
  }
  .gplus {
    color: red;
  }
  .bg
  {
    background: url('../assets/imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo
  {
    display:block;
    text-align:center;
  }
  .landing-spcr
  {
    margin-top:30%;
  }
  .logoftext
  {
    display:block;
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    color:#fff;
  }
  .refbtn
  {
    margin:0px auto;
    display:inline-block;
    text-align:center;
    padding:0px;
  }
  // .inpolink > .col > button
  // {
  // text-align:center;
  // display:block;
  // margin: 0px auto;
  // }
  .inpolink 
  {
    text-align:center;
    display:inline-block;
  }
}
