page-landing {
  
  .fb {
      background-color: #4369B5;
  }
  .google {
    background-color: #FFFFFF;
    color: #000000;
    margin-top:3%;
  }
  .gplus {
    color: red;
  }
  .bg {
    background: url('../assets/imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .logo {
    display:block;
    text-align:center;
  }
  
  .logoftext {
    display:block;
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    color:#fff;
  }

  .login-btn {
    margin-left: -30px !important;
  }

  .login-sect {
   margin-top: 120px;
  }

}
