page-personal-registration {

    .rm-border > div{
        border-bottom: none !important;
    }

    .light_blue{
        color: #04bbff;
        border-bottom: none !important;
    }

    .nomi{
        font-size: 10px;
    }

}

