<ion-header>

  <ion-navbar>
    <ion-title>Personal Registration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div>
    <!-- <form [formGroup]="personalRegist" (ngSubmit)="personalReg()"> -->
    <form [formGroup]="personalRegist">
      <div>
        <ion-item>
          <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="address" type="text" placeholder="Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="tel" type="tel" placeholder="Ph/Mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>

      <div>
          <ion-row>
            <ion-col col-10 padding-left>
              Nominate and share this app link with a bisiness you recommened and your finishing friends
            </ion-col>
            <ion-col col-2>
              <button ion-button  clear (click)="showShareOptions()" icon-only>
                <ion-icon name="share"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
      </div>

      <div *ngIf="isHiddenShare">
        <div>

          <div>
              <ion-item class="rm-border light_blue">
                  Friend nominee
                  <button item-end ion-button  icon-only clear (click)="addFriendNominee()">
                      <ion-icon name="add-circle"></ion-icon>
                    </button>
              </ion-item>
          </div>
          <!-- <ng-template ngFor let-item [ngForOf]="createRange(count)" let-currentElementIndex="index+1"> -->
          <div *ngFor="let item of createRange(count);let i=index;">
            <div id="friendnominee{{i+1}}">

              <div>
                <ion-buttons *ngIf="i+1" end>
                  <button ion-button icon-only clear (click)="removeFriendNominee($event,i)">
                    <ion-icon name="remove"></ion-icon>
                  </button>
                </ion-buttons>
                
                <ion-item>
                  <ion-input formControlName="fnemail{{i+1}}" type="tel" placeholder="Mobile phone number"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="fnmob{{i+1}}" type="email" placeholder="Email"></ion-input>
                </ion-item>

                <ion-item class="rm-border">
                    <ion-icon item-start color="facebook" name="logo-facebook"></ion-icon>
                    find on facebook
                </ion-item>

              </div>

                    <ion-item class="rm-border">
                      <ion-checkbox item-start color="facebook" checked="true"></ion-checkbox>
                      <ion-label class="nomi">Nominate business share app link</ion-label>
                      <button ion-button item-end small>Prepay</button>
                    </ion-item>

            </div>
          </div>
        </div>

        <div>

            <div>
              <ion-item class="rm-border light_blue">
                  Business nominee
                  <button item-end ion-button clear icon-only (click)="addBusinessNominee()">
                      <ion-icon name="add-circle"></ion-icon>
                  </button>
              </ion-item>
            </div>

          <!-- <ng-template ngFor let-item [ngForOf]="createRange1(count1)" let-currentElementIndex="index+1"> -->
          <div *ngFor="let item of createRange1(count1);let i=index;">
            <div id="businessnominee{{i+1}}">
              <ion-buttons *ngIf="i+1" end>
                <button ion-button icon-only clear (click)="removeBusinessNominee($event,i)">
                  <ion-icon name="remove"></ion-icon>
                </button>
              </ion-buttons>
              <ion-item>
                <ion-input formControlName="bnemail{{i+1}}" type="tel" placeholder="Mobile phone number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="bnmob{{i+1}}" type="email" placeholder="Email"></ion-input>
              </ion-item>

                <ion-item class="rm-border">
                  <ion-icon item-start color="facebook" name="logo-facebook"></ion-icon>
                  find on facebook
                </ion-item>


              <ion-item class="rm-border">
                  <ion-checkbox item-start color="facebook" checked="true"></ion-checkbox>
                  <ion-label class="nomi">Nominate business share app link</ion-label>
                  <button ion-button item-end small>Prepay</button>
                </ion-item>
              
            </div>

          </div>
        </div>

      </div>


        <ion-row>
          <ion-col>
            <ion-buttons start>
              <button ion-button small type="submit" (click)="personalReg()">Submit</button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button ion-button small clear>BACK TO MAIN PAGE</button>
            </ion-buttons>
          </ion-col>
        </ion-row>

    </form>
  </div>

</ion-content>