page-add-new {
    .bg{
            opacity: 1;
            background: url('../assets/imgs/landing.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

    .btns {
        margin: 0 40px;
    }

    .logo {
        display:block;
        text-align:center;
      }
    .tripom button span{

        background: #fff;
        
        color: #488aff;
        }

        .button-ios{
            padding-top: 5px;
        padding-bottom: 5px;
        }
        .button-md{
            padding-top: 5px;
        padding-bottom: 5px;
        }
        .tripom{
            margin-top: 10%;
        }



   
}


