page-add-new {
   .fab {
       width: 80px;
       height: 80px;
       font-size: 10px;
   }
    .trip {
        left: 43%;
        background-color: midnightblue;
        font-weight: 500;
        font-style: oblique;
        font-family: monospace;
       
    }
    .waterway {
        left:38%;
        background-color: midnightblue;
        font-weight: 500;
        font-style: oblique;
        font-family: monospace;
    }
    .bait {
        left:28%;
        background-color: midnightblue;
        font-weight: 500;
        font-style: oblique;
        font-family: monospace;
    }
    .addmoment {
        left:55%;
        background-color: midnightblue;
        font-weight: 500;
        font-style: oblique;
        font-family: monospace;
    }
    .catch {
        left:8%;
        background-color: midnightblue;
        font-weight: 500;
        font-style: oblique;
        font-family: monospace;
    }

    .bg
  {
    background: url('../assets/imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.7;
  }

  .logo
  {
    display:block;
    text-align:center;
  }
  
}
