page-fish-intel-map-options {
    .tbar > div{
        background-color: #ccc !important;
        border: none !important;
      }
      ion-title {
        padding: 0 !important;
    }
    .toolbar-title {
      font-size: 15px;
    }
}
