
<ion-header>

  <ion-navbar>
    <ion-title>Comment</ion-title>
    <ion-buttons end>
      <button ion-button clear small (click)="close()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
    <div padding *ngIf="post_comment.length==0; else comm">
      <p text-center>No Comment Found</p>
    </div>
    <ng-template #comm  padding>
        <div  *ngFor="let pcomment of post_comment">
          <ion-item no-lines>
            <ion-avatar item-start>
              <img src="assets/imgs/default_user.png">
            </ion-avatar>
            <div class="comment">
              <h3>{{pcomment.user.name}}</h3>
              <p>{{pcomment.comments}}</p>
          </div>
          </ion-item>
            
        </div>
    </ng-template >
</ion-content>

<ion-footer>
    <ion-toolbar no-border class="tbar">
          <ion-row>
            <ion-col col-10>
                <ion-input type="text" [(ngModel)]="comment" placeholder="Enter your comments..."></ion-input>
            </ion-col>
            <ion-col col-2 text-center>
                <button ion-button [disabled]="!comment" (click)="sendComment()"><ion-icon name="send"></ion-icon></button>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-footer> 
