page-profile {
 ion-col {
     padding: 0 !important;
     margin: 0 !important;
 }
 ion-card {
     width: auto !important;
     height: auto !important;
     padding: 0 !important;
     margin: 0 !important;
     font-size: 11px !important;
 }

 ion-grid {
     margin: 10px 0px;
 }
}
