<ion-header>

  <ion-navbar>
    <ion-title>Business Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div>
      <form>
        <ion-item>
          <ion-input type="text" placeholder="Business Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Business Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Contact/ Owner"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Web Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Ph/ mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      </form>
    </div>

    <div>
      <ion-list radio-group [(ngModel)]="registrationType">
        <ion-list-header class="light_blue">
          Nominate
        </ion-list-header>

        <ion-item>
          <ion-label>Shops</ion-label>
          <ion-radio value="shops" checked="true"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Staff</ion-label>
          <ion-radio value="staff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Ambassadors</ion-label>
          <ion-radio value="ambassadors"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

    <div [ngSwitch]="registrationType">

      <div *ngSwitchCase="'shops'">
        <div>
            <ion-item class="rm-border">
                Shops
                <button item-end ion-button icon-only clear (click)="addShop()">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ion-item>
        </div>

        <div *ngFor="let item of createShop(countShop);let i=index;">
          <div id="shops{{i+1}}">

            <ion-buttons *ngIf="i+1" end>
              <button ion-button clear icon-only (click)="removeShop($event,i)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-buttons>

            <ion-item>
              <ion-input type="text" placeholder="Mobile phone number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Mobile phone number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'staff'">

        <div>
            <ion-item class="rm-border">
                Staffs
                <button item-end ion-button  icon-only clear (click)="addStaff()">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ion-item>
        </div>

        <div *ngFor="let item of createStaff(countStaff);let i=index;">
          <div id="staff{{i+1}}">
            <ion-buttons *ngIf="i+1" end>
              <button ion-button icon-only clear (click)="removeStaff($event,i)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-buttons>
            <ion-item>
              <ion-input type="text" placeholder="Mobile phone number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>


            <ion-item class="rm-border">
                <ion-icon item-start color="facebook" name="logo-facebook"></ion-icon>
                find on facebook
            </ion-item>

            <ion-item class="rm-border">
                <ion-checkbox item-start color="facebook" (ionChange)="fbCheckedStaff()"></ion-checkbox>
                <ion-label class="nomi">Nominate business share app link</ion-label>
                <button ion-button item-end small>Prepay</button>
              </ion-item>

          </div>
        </div>
      </div>

      <div *ngSwitchCase="'ambassadors'">

        <div>
            <ion-item class="rm-border">
                Ambassadors/ Clients
                <button item-end ion-button  icon-only clear (click)="addAmbassadors()">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ion-item>
        </div>

        <div *ngFor="let item of createAmbassadors(countAmbassadors);let i=index;">
          <div id="ambassadors{{i+1}}">
            <ion-buttons *ngIf="i+1" end>
              <button ion-button icon-only clear (click)="removeAmbassadors($event,i)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </ion-buttons>


            <ion-item>
              <ion-input type="text" placeholder="Mobile phone number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="Email"></ion-input>
            </ion-item>

            <ion-item class="rm-border">
                <ion-icon item-start color="facebook" name="logo-facebook"></ion-icon>
                find on facebook
            </ion-item>

            <ion-item class="rm-border">
                <ion-checkbox item-start color="facebook" (ionChange)="fbCheckedAmbassadors()"></ion-checkbox>
                <ion-label class="nomi">Nominate business share app link</ion-label>
                <button ion-button item-end small>Prepay</button>
              </ion-item>

          </div>
        </div>
      </div>

    </div>


    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-buttons start>
              <button ion-button small (click)="businessReg()">Submit</button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button ion-button small clear (click)="backToMainPage()">BACK TO MAIN PAGE</button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>