page-business-registration {
.mtrig
{
    padding-left: 3%;
}
.cclr
{
    color: #04BBFF;

    padding-bottom: 15px;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 14px;
}
.fbspcr
{
    margin-left:5px;
}
.fbspcr
{
    margin-left:5px;
}
.fbicon
{
    color: #3b5998;
}
.cclr
{
    color: #04BBFF;

    padding-bottom: 15px;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 14px;
}
.refix
{
    padding: 0px !important;
    margin: 0px !important;
}
.remborder
{
    border-bottom: none !important;
}
.item.item-md .checkbox-md {
    margin: 8px 7px 8px 2px  !important;
}
.item.item-ios .checkbox-ios
{
    margin: 8px 7px 8px 2px;
}
}
