page-discover-anglers {
    .rm-border div {
        border-bottom: none !important;
    }
    ion-col {
       padding-left: 0.6px !important;
       padding-right:0.6px !important;
    }

    .img-size {
        height: 70px !important;
    }
}
