<ion-header>
  <ion-navbar>
    <img src="assets/imgs/logo-polo.png">
    <ion-buttons end>
      <button color="primary" ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goFishIntel()">
        <ion-icon name="map"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goDiscover()">
        <i class="fas fa-binoculars"></i>
      </button>
      <button color="primary" ion-button icon-only (click)="goNotification()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goUserProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only on-tap="popoverKyndofishing($event)">
        <ion-icon name="bug"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="home-contain" [ngClass]="{'home-bg': isFabActive}">
    <ion-row>
        <ion-col>
          <button ion-button  small clear (click)="openGallery()">
              <img class="mt10" src="assets/imgs/log-fish.png">
              Log Catch
          </button>
        </ion-col>
        <ion-col >
          <button ion-button small clear (click)="goMomentBtn()">
              <img class="mt10" src="assets/imgs/camera.png">
              Add Moment
          </button>
        </ion-col>
      </ion-row>

    <div *ngFor="let post of posts; let i=index">
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/profile.jpg">
              <!-- <p>{{post.post_files.s_filepath}}/{{post.post_files.s_filname}}</p> -->
            </ion-avatar>
            <h4>{{post.username}}</h4>
            <p>Lake Montezuma.Casting.acrownoble</p>
            <button item-end ion-button icon-only clear (click)="more()"><ion-icon name="more"></ion-icon></button>
          </ion-item>
    
          <p text-justify style="font-size:11px;padding:2px 6px;">{{post.post_name}}</p>
            <div *ngIf="post.post_files.s_filepath">
                  <div *ngIf="post.post_files.file=='image'; else video">
                    <img class="post-img" src="http://192.168.200.6/fishbite/{{post.post_files.s_filepath}}/{{post.post_files.s_filname}}">
                  </div>
                  <ng-template #video>
                    <video controls="controls" src="http://192.168.200.6/fishbite/{{post.post_files.s_filepath}}/{{post.post_files.s_filname}}" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
                    </video>
                </ng-template>
            </div>     
          <div>
            <button ion-button icon-only clear (click)="like(post.id)"><ion-icon name="thumbs-up"></ion-icon></button>
            <button ion-button icon-only clear (click)="goComment(post.id)"><ion-icon name="chatbubbles"></ion-icon></button>
            <button ion-button icon-only clear (click)="whatsAppShare(post.id)" color="secondary"><ion-icon name="logo-whatsapp"></ion-icon></button>
            <button ion-button icon-only clear (click)="fbShare(post.id)"><ion-icon name="logo-facebook"></ion-icon></button>
            <!-- <button ion-button icon-only clear><ion-icon name="pin"></ion-icon></button> -->
            <!-- <button ion-button icon-only clear (click)="openShareOptions()"><ion-icon name="share"></ion-icon></button> -->
          </div>
          <div class="hr"></div>
          <ion-row>
            <ion-col col-4>
              <div *ngIf="hit_post_id && post.id==hit_post_id[i]; else nohit">You and {{post.likes}} other</div>
              <ng-template #nohit>{{post.likes}} likes</ng-template>
            </ion-col>
            <ion-col col-4>{{post.comments}} comments</ion-col>
            <ion-col col-4>{{post.share}} share</ion-col>
          </ion-row>
        </ion-card>
     </div>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> 

  <ion-fab bottom right>
    <button ion-fab (click)="fabHit()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!-- <div *ngIf="showShareOptions" class="social-sharing">
    <ion-row>
      <ion-col>
        <button ion-fab color="secondary" (click)="whatsAppShare()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-fab (click)="fbShare()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </div> -->

</ion-content>

<page-add-new *ngIf="isFabActive"></page-add-new>