<ion-header>
  <ion-navbar>
    <img src="assets/imgs/logo-polo.png">
    <ion-buttons end>
      <button color="primary" ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goFishIntel()">
        <ion-icon name="map"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goDiscover()">
        <i class="fas fa-binoculars"></i>
      </button>
      <button color="primary" ion-button icon-only (click)="goNotification()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click)="goUserProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only on-tap="popoverKyndofishing($event)">
        <ion-icon name="bug"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="home-contain" [ngClass]="{'home-bg': isFabActive}">
    <ion-row>
        <ion-col>
          <button ion-button  small clear (click)="openGallery()">
              <img class="mt10" src="assets/imgs/log-fish.png">
              Log Catch
          </button>
        </ion-col>
        <ion-col >
          <button ion-button small clear (click)="goMomentBtn()">
              <img class="mt10" src="assets/imgs/camera.png">
              Add Moment
          </button>
        </ion-col>
      </ion-row>

    <div>
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/profile.jpg">
            </ion-avatar>
            <h4>Largemouth bass</h4>
            <p>Lake Montezuma.Casting.acrownoble</p>
            <button item-end ion-button icon-only clear (click)="more()"><ion-icon name="more"></ion-icon></button>
          </ion-item>
    
          <p text-justify style="font-size:11px;padding:2px 6px;">About 15 strikes 5 hooked fish with fights in the shore and 2 
            pulled from the water! All this in 40 min.They are striking great, 
            hello bass season!
          </p>
          <img class="post-img" src="assets/imgs/fish4.jpg">
          <div>
            <button ion-button icon-only clear (click)="like()"><ion-icon name="thumbs-up"></ion-icon></button>
            <button ion-button icon-only clear><ion-icon name="chatbubbles"></ion-icon></button>
            <button ion-button icon-only clear><ion-icon name="pin"></ion-icon></button>
            <button ion-button icon-only clear (click)="openShareOptions()"><ion-icon name="share"></ion-icon></button>
          </div>
          <div class="hr"></div>
          <ion-row>
            <ion-col col-4>7 likes</ion-col>
            <ion-col col-4>2 comments</ion-col>
            <ion-col col-4>1 share</ion-col>
          </ion-row>
        </ion-card>
      </div>

  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="fabHit()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="showShareOptions" class="social-sharing">
    <ion-row>
      <ion-col>
        <button ion-fab color="secondary" (click)="whatsAppShare()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-fab (click)="fbShare()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </div>

</ion-content>

<page-add-new *ngIf="isFabActive"></page-add-new>