page-home {
    .share_pic {
        height: 240px;
    }
    .bar-button-menutoggle {
        display: unset !important;
    }
    ion-card {
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 11px !important;
    }

    .home-bg {
        opacity: 0.3;
    }
    .home-contain {
        padding: 2px;
    }

   .segment-button.segment-activated{
        background: transparent;
        color: #222222;
        border-bottom: 2px solid #04bbff;
    }
    
    .segment-ios .segment-button{
      border: 0;
      color: #222222;
      border-bottom: 2px solid #ccc;
      font-size: 16px;
    }
    .fas {
        font-size: 23px;
        margin: 0 4px;
    }
    
    .segment-ios .segment-button.segment-activated{
        background: transparent;
        color: #222222;
        border-bottom: 2px solid #04bbff;
    }
    .toolbar-background {
        background-color: #EEEEEE !important;
    }
   
}
