page-loyality-competition {
    .hr {
        border-bottom: 1px solid #ccc; 
        margin: 0 5px;
    }
    .post-img {
        height: 190px;
    }

    .bar-button-menutoggle {
        display: unset !important;
    }
    .fas {
        font-size: 23px;
        margin: 0 4px;
    }
    .toolbar-background {
        background-color: #EEEEEE !important;
    }
}
