page-forum {
    ion-item {
        background-color:#0550AB !important; 
        color: #fff !important;
        margin-top: 1px !important;
        font-size: 12px !important;
    }
    ion-item div{
        border-bottom: none !important;
    }

    ion-icon {
       color: #fff;
       font-weight: 700;
    }
    .p-head {
        color: #0550AB;
        margin-top: -8px;
    }
    .para {
        margin-top: -9px;
        font-size: 11.3px;
    }
}
