page-fish-intel-fish-species-fliter {
    .tbar > div{
        background-color: #ccc !important;
        border: none !important;
      }
      img {
          width: 40px;
          height: 20px;
      }
      ion-label {
          font-size: 14px;
      }
       ion-title {
          padding: 0 !important;
      }
      .toolbar-title {
        font-size: 15px;
      }
  
}
