
<ion-header>

  <ion-navbar>
    <ion-title>Add Trip</ion-title>
    <ion-buttons end><button ion-button clear (click)="saveTrip(name.value, desc.value)">SAVE</button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="gallery-button" (click)="openGallery()" text-center>
    <div *ngIf="!imgURI; else showImage">
        <ion-icon name="images"></ion-icon>
    </div>
    <ng-template #showImage>
        <img class="selectImage" [src]="imgURI" />
    </ng-template>
  </div>
  <div>
      <ion-item>
        <ion-icon item-left name="briefcase"></ion-icon>
        <ion-input #name type="test" placeholder="Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon item-left name="create"></ion-icon>
        <ion-textarea #desc placeholder="Description"></ion-textarea>
      </ion-item>
       
      <ion-item (click)="goWaterWay()">
          <ion-icon item-left name="map"></ion-icon>

            <div *ngIf="waterway_name; else water">
                {{waterway_name}}
            </div>
            <ng-template #water>
              Waterway
            </ng-template>
           
          <ion-icon item-right name="arrow-forward"></ion-icon>
      </ion-item>

      <ion-item>
          <ion-icon item-left name="calendar"></ion-icon>
          <ion-label>Start Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="startDate"></ion-datetime>
          {{myDate}}    
      </ion-item>
      
      <ion-item>
          <ion-icon item-left name="calendar"></ion-icon>
          <ion-label>End Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="endDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon item-left name="contacts"></ion-icon>
          Member <span>{{members_id.length}}</span>
         <ion-icon item-right on-tap="addMember()" name="add"></ion-icon>
      </ion-item>

      <ion-item *ngFor="let member_name of members_name">
        <!-- <ion-icon item-left name="american-football"></ion-icon> -->
          {{member_name}}
      </ion-item>
  </div>
</ion-content>
