page-add-trip {
    .gallery-button {
        width: 100%;  
        background-color: #EBEBEB;
        height: 200px;
    }
    ion-icon[name=images] {	 
        border-radius: 50%;
        background-color: #fff;  
        color: #000000 ;
        font-size: 25px;
        padding: 15px;	
        margin-top:61px;
    }

    .selectImage {
      height: 200px !important;
      width: 100%;
    }
   
}
