page-forgot-pass {
  .bg
  {
    background: url('../assets/imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .white {
    color: #fff;
  }

  .header-text {
    font-size: 18px;
  }

  .logo {
    display:block;
    text-align:center;
  }
  
}
