page-choose-plan-premium-trail {
   .top {
       background-color: #2D6F8F;
   }
   .bg2
  {
    background: url('../../assets/imgs/pre.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow:visible;
  }
}
