page-signup {
    .signup
    {
        text-align: center;
        display: block;
        margin: 0px auto;
        color: #fff;
    }
    .bg
    {
      background: url('../../assets/imgs/landing.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .item-md
    {
        background-color: #fff;
    }
}
