page-privacy {
    .bar-button-menutoggle {
        display: unset !important;
    }
    .toolbar-background {
        background-color: #EEEEEE !important;
    }
    .fas {
        font-size: 23px;
        margin: 0 4px;
    }
}
